<html>
	<head>
		<title>KenyaEMR Training</title>
		<script type="text/javascript" src="scripts/jquery.min.js"></script>
		<script type="text/javascript" src="scripts/underscore.min.js"></script>
		<script type="text/javascript" src="scripts/angular.min.js"></script>
		<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="scripts/help.js"></script>
		<link rel="stylesheet" href="styles/bootstrap.min.css" type="text/css" />
	</head>
	<body ng-app="help">

		<div class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">KenyaEMR Training</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Resources</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container" ng-controller="HelpResources" ng-init="init()">
			<div class="page-header">
				<h1 id="resources">Resources</h1>
			</div>

			<p class="lead">Training resources for users of KenyaEMR.</p>
			<form class="form-inline" role="form">
				<input style="width: 200px" class="form-control" placeholder="Filter by name" ng-model="filter" ng-change="refresh()" />
			</form>

			<ul class="list-group">
				<li class="list-group-item" ng-repeat="resource in resources">
					<img ng-src="{{ resource.icon }}" />&nbsp;&nbsp;<a ng-href="{{ resource.file }}" target="_blank">{{ resource.name }}</a>

					<div style="float: right">
						<span ng-repeat="app in resource.apps">
							<span class="label label-default">{{ appLabels[app] }}</span>&nbsp;
						</span>
					</div>
				</li>
			</ul>
		</div>
		
	</body>
</html>